.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ribbon-book {
    background: linear-gradient(135deg, #2563eb, #3b82f6);
}

.ribbon-journal {
    background: linear-gradient(135deg, #7c3aed, #a855f7);
}

.ribbon-conference {
    background: linear-gradient(135deg, #06b6d4, #22d3ee);
}

.ribbon-preprint {
    background: linear-gradient(135deg, #ea580c, #fb923c);
}